/*
MAKE FADE
a {
    color:blue;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    ...and now for the proper property 
    transition:.5s;
}
a:hover { 
    color:red; 
}
*/


/* Scroll 5 
.scroll::-webkit-scrollbar {
    width: 15px;
    height: 15px;
}
.scroll::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.1);
}
.scroll::-webkit-scrollbar-thumb {
    background-image: linear-gradient(rgba(0,129,255,1) 0%, rgba(0,212,255,1));
    -webkit-box-shadow: rgba(0,0,0,.12) 0 3px 13px 1px;
}
  
.scroll-firefox{
    scrollbar-color: orange lightyellow;
}
*/

body{
    background-color: #F5F7FA;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    margin: 0;
    padding: 0;
    color: white;
    
}
a{
    text-decoration: none;
    color: white;
}
.header-nav{
    font-size: 18px;
    background-color: #010026;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  
li {
    float: left;
}
  
.header-ul-left {
    display: block;
    text-align: center;
    padding: 16px 10px;
    margin: 0px 75px;
    text-decoration: none;
}

.nav-stack{
    margin: 0px 75px;
}

.header-ul-right{
    float: right;
    padding: 16px 20px;
}

.cydia-wrapper{
    width: 1050px;
    height: 175px;
    border-radius: 10px;
    margin: 50px auto;
    background: rgb(0,129,255);
    background: linear-gradient(90deg, rgba(0,129,255,1) 0%, rgba(0,212,255,1) 100%)!important;
}

.cydia-wrapper-text-title{
    font-size: 18px;
    padding: 50px 50px 30px 50px;
}

.cydia-button{
    margin: 0px 50px;
    padding: 6px 10px;
    border: 2px white solid;
    border-radius: 5px;
}

.s-title{
    color: #010026!important;
    font-size: 28px;
    margin: 60px 50px 30px 85px;
}

.featured-box{
    width: 900px;
}

.featured-wrapper{
    color: #494949;
    display: grid;
    grid-template-columns: 475px 475px 475px;
}

.featured-card{
    margin: 0px 80px;
    border-radius: 10px;
    width: 400px;
    height: 150px;
    background-color: white;
    background-size: cover;
    background-position: center;
}

.background-card-fade{
    margin: 0px 0px;
    background-size: cover;
    background-position: center;
}


.card-p{
    width: 50px;
    margin: 0px 20px;
    font-size: 16px;
    color: white;
}

.card-icon img{
    margin: 25px 25px 10px 35px;
    width: 55px;
    height: 55px;
}

#background-card-1{
    background-image: url('../img/nl.camorobot.nodockerbackground.jpg');
    background-size: cover;
    background-position: center;
}

#background-card-1-fade{
    background-color: rgb(255, 0, 123, .35);
    margin: 0px 0px;
    background-size: cover;
    background-position: center;
}

#background-card-2{
    background-image: url('../img/nl.camorobot.darkout.jpg');
}

#background-card-2-fade{
    background-color: rgba(8, 0, 255, 0.35);
}

#background-card-3{
    background-image: url('../img/nl.camorobot.supertweak.jpg');
}

#background-card-3-fade{
    background-color: rgba(94, 255, 0, 0.35);
}

.tweak-wrapper{
    display: grid;
    grid-template-columns: 360px 360px 360px 360px;
}

.tweak-card{
    margin: 0px 80px 80px;
    border-radius: 10px;
    width: 275px;
    height: 100px;
    background-image: url('../img/blackbanner.png');
    background-size: cover;
    background-position: center;
    box-shadow: #0100262b 3px 3px;
}

.tweak-fade{
    margin: 0px 0px !important;
    border-radius: 10px;
    width: 275px;
    height: 100px;
    background-color: rgba(8, 0, 255, 0.4);
    background-size: cover;
    background-position: center;
}

.user{
    margin: 80px 0px 0px 0px !important;
}

.tc-grid{
    display: grid;
    grid-template-columns: auto auto auto;
}

.tweak-icon img{
    margin: 30px 10px 0px 20px;
    width: 40px;
    height: 40px;
}

.tweak-p{
    color: white;
    font-size: 12px;
    margin: 45px 0px;
}

#tweak-1{
    background-image: url('../icons/app-icon.png');
}

#tweak-2{
    background-image: url('../icons/app-icon-2.png');
}

#tweak-3{
    background-image: url('../icons/app-icon-3.png');
}

#tweak-4{
    background-image: url('../icons/app-icon-4.png')
}

#tweak-5{
    background-image: url('../icons/app-icon-5.png');
}

#tweak-6{
    background-image: url('../icons/app-icon-6.png');
}

.footer{
    border-radius: 5px 5px 0px 0px;
    background: rgb(0,129,255);
    background: linear-gradient(90deg, rgba(0,129,255,1) 0%, rgba(0,212,255,1) 100%)!important;
    margin: 0;
    height: 375px;
    color: rgba(255, 255, 255);
}

.footer-line{
    border: 1px solid rgb(255,255,255,.2);
    margin: 30px auto 0px;
    width: 90% !important;
}

.footer-margin{
    margin: 50px 0px 0px 75px;
}

.footer-grid{
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.footer-title{
    font-size: 28px;
    margin: 0px 0px 25px 0px;
}

.footer-text-box{
    font-size: 16px;
    width: 140px;
    color: rgb(255,255,255,0.8);
}

.footer-text-box a{
    line-height: 28px;
    color: rgb(255,255,255,0.8);
}

.footer-rights{
    margin: 30px 0px 0px 75px;
    line-height: 20px;
}

